#bitacora {
	max-width: 70%;
	max-height: 85vh;
	overflow-y: auto;
}

#bitacora::-webkit-scrollbar {
	width: 8px;
}

#bitacora::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

#bitacora h2,
#bitacora h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

#bitacora article p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}