.main-carousel {
	background: linear-gradient(to right,
			#a2ffff 0%,
			#ccffff 30%,
			#ccffff 70%,
			#a2ffff 100%);
}

.carousel-indicators {
	margin-bottom: 2rem;
}

.carousel-indicators button[type="button"] {
	background-color: #00ffff;
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.carousel-indicators button[type="button"].active {
	background-color: #8a8bd4;
}

.carousel-control-prev>i,
.carousel-control-next>i {
	color: #00ffff;
}

.carousel-control-prev:active>i,
.carousel-control-next:active>i {
	color: #8a8bd4;
}