/* -----------------------------------
   MODO AUDAZ — Estilo visual intenso
   ----------------------------------- */

body.modo-audaz {
  font-family: 'Anton', sans-serif;
  background-image: url('/src/assets/img/silvanaFondoAudaz.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fefefe;
  transition: all 0.5s ease;
}

/* Frase principal */
body.modo-audaz .frase-titulo {
  font-size: 2.5rem;
  color: #ffcc00;
  text-shadow: 2px 2px #d31f1f;
  font-weight: 900;
}

/* Avatar */
body.modo-audaz .avatar-rectangular {
  border: 4px solid #ffcc00;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
  border-radius: 8px;
}

/* Datos personales */
body.modo-audaz .info-lateral.izquierda {
  color: #e9e0bc;
  font-weight: 800;
}

body.modo-audaz .dato-secundario {
  color: #e9e0bc;
}

/* Presentación */
body.modo-audaz .info--lateral.derecha {
  color: #fefefe;
  font-weight: 500;
}

/* Bloques temáticos */
body.modo-audaz .bloque {
  background-color: rgba(26, 26, 26, 0.85);
  border: 2px solid #ffcc00;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

body.modo-audaz .bloque:hover {
  background-color: #330000;
  transform: scale(1.05);
}

body.modo-audaz .bloque h2 {
  color: #ffcc00;
  text-transform: uppercase;
}

body.modo-audaz .bloque ul li{
  color: #fefefe;
}
  
/* Botón volver */
body.modo-audaz .btn-volver-inferior {
  background-color: #ffcc00;
  color: #330000;
}

body.modo-audaz .btn-volver-inferior:hover {
  background-color: #ffaa00;
  transform: scale(1.05);
}
